.header {
  background-color: gray;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header nav {
  flex: 1 1 auto;
}

.header nav a:hover {
  color: white;
}

.header nav a + a {
  margin-left: 1rem;
}
.menu {
}
