:root {
  --green-sprout: #a5bc61;
  --white-moon: #ebf1e5;
  --green-cloud: #232821;
  --blue-peacock: #0d7e9c;
  --orange-emmas: #fc8416;
  --teal-deepgray: #185a56;
  --gray-shallow: #a8abb0;
  --blue-baby: #94dffe;
  --blue-mount: #233b69;
  --blue-gray: #3b435c;
  --blue-water: #033e7b;
}
